/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

/* Flexbox */
.flex {
    display: flex;
}

/* Flex Column */
.column {
    flex-direction: column;
}

/* Flex Row */
.row {
    flex-direction: row;
}

/* Bottoni */
button,
.special-button {
    background-color: white;
    margin: 0 15px;
    padding: 10px 20px;
    font-weight: bold;

    border: 0 solid;
    border-radius: 50px;
}

/* Grigio da utilizzare per questa pagina */
.grey {
    background-color: #f6f6f6;
}

ul {
    list-style-type: none;
}

li {
    padding-top: 10px;
}

/* CONTENT */


/* Allinea qualsiasi contenuto al centro */
body {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

/* Imposto lo sfondo per il jumbo-tron */
header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
}

/* Barra di navigazione superiore */
.top-header {
    justify-content: space-between;
    padding: 10px;
}

/* Classe contenitore, centra tutti i contenuti del contenitore */
.container {
    margin: 0 auto;
    max-width: 1200px;
}

/* Navigazione centrale superiore */
nav.flex.row {
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    padding: 5px;
}

/* Collegamento 'Accedi' */
.special-button>a {
    text-decoration: none;
    color: #23272a;
}

/* Contenitore del contenitore del testo introduttivo */
.intro {
    height: 602px;
    align-items: center;
}

/* Contenitore testo introduttivo */
.jumbo-tron-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 75px 0px;
}

.jumbo-tron-container h1,
.jumbo-tron-container p {
    padding: 30px;
}

/* Skin secondo bottone */
button:nth-child(2) {
    background-color: #23272a;
    color: white;
}

/* Ogni sezione composta da immagine e testo affiancati */
.info-content {
    justify-content: space-around;
    padding: 100px 0;
}

.info-content>* {
    flex-basis: 50%;
    text-align: left;
}

/* Titolo dei vari info-content */
.info-content h2 {
    font-size: 35px;
    padding-bottom: 20px;
}

.info-content:last-child>* {
    text-align: center;
}

/* Didascalia immagine */
.caption {
    justify-content: center;
}

/* Immagine descrittiva della sezione */
.info-content img {
    max-width: 100%;
}

/* Ultima sezione del contenuto principale */
.info-content.flex.column {
    align-items: center;
}

h3 {
    margin-bottom: 25px;
    font-weight: bolder;
}

.caption>button {
    background-color: #8ea1e1;
    color: white;
}

/* Sezione collegamenti fondo pagina */
footer {
    background-color: #23272a;
    color: white;
    justify-content: space-around;
    height: 100px;
}